/* phones */
.current-weather {
  justify-self: center;
   color: #6FB6E7;
}

.arrange-content {
   position: relative;
   top: 18px;
   left: 2px;
}

.location {
   font-size: .9rem;
   color: #6FB6E7;
}

.current-temp {
   font-size: 2rem;
   position: relative;
   top: -10px;
}

.feels-like,
.condition {
   font-size: 0.9rem;
   position: relative;
   top: -10px;
}

/* tablet and above */
@media(min-width: 768px) {
   .current-weather {
      width: 15%;
      padding: 1rem;
   }

   .arrange-content {
      position: relative;
      top: 18px;
      left: 2px;
   }

   .location {
      font-size: .9rem;
      color: #6FB6E7;
   }

   .current-temp {
      font-size: 2rem;
      position: relative;
      top: -10px;
   }

   .feels-like,
   .condition {
      font-size: 0.9rem;
      position: relative;
      top: -10px;
   }
}

