/* phones */
.ten-day-forecast-container {
    border-radius: 14px;
    padding: 1rem;
    margin-top: 1rem;
    
    background-color: rgb(238, 238, 248);
}

.days-forecast-heading {
    margin: 0 0 0.5rem 0;
    color: #6FB6E7;
}

.ten-day-forecast {
    display: flex;
}

.day-forecast {
    display: flex;
    flex-direction: column;
    background-color: #6FB6E7;

    margin: 0 1rem;
    padding: .5rem;
    border-radius: 14px;

    font-size: .9rem;
    color: rgb(238, 238, 248);
}  

/* tablet */
@media(min-width: 768px) {
    .ten-day-forecast-container {
        position: relative;
        left: 42px;

        width: 82.7%;
        
        padding: 1rem;
        margin-top: 1rem;        
    }

    .days-forecast-heading {
        margin: 0 0 0.5rem 0;
        color: #6FB6E7;
    }

    .ten-day-forecast {
        display: flex;
    }

    .day-forecast {
        display: flex;
        flex-direction: column;
        background-color: #6FB6E7;

        margin: 0 1rem;
        padding: .5rem;
        border-radius: 14px;

        font-size: .9rem;
        color: rgb(238, 238, 248);
    }  
}