/* phones */
.heading {
    font-size: 1rem;
    color: #6FB6E7;
}

.search {
    display: flex;
    align-items: center;

    position: relative;
    left: -1.5rem;
}

.search-input {
    height: 2rem;

    border: none;
    border-radius: 10px;

    padding-left: 1rem;
    margin-right: .5rem;
}

.search-input:focus {
    outline: 2px solid #FFC72C;
}

.search-button {
    padding: .45rem;
    
    border: none;
    border-radius: 10px;

    background-color: #6FB6E7;
}

.search-button-icon {
    color: rgb(240, 239, 239);
}

.settings-icon {
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    cursor: pointer;

    position: relative;
    right: 5px;
    bottom: -1px;

    color: #6FB6E7;
}

.settings-icon.spin {
    transform: rotate(20deg);
}


/* tablet */
@media(min-width: 768px) {
    .heading {
        font-size: 1.5rem;
        color: #6FB6E7;

        margin: 0;

        position: relative;
        top: 1px;
        left: 6px;
    }

    .search {
        display: flex;
        align-items: center;

        position: relative;
        left: -1.5rem;
    }

    .search-input {
        height: 2.5rem;

        border: none;
        border-radius: 10px;

        padding-left: 1rem;
        margin-right: .5rem;
    }

    .search-input:focus {
        outline: 2px solid #FFC72C;
    }

    .search-button {
        border: none;
        border-radius: 10px;

        background-color: #6FB6E7;
    }

    .search-button-icon {
        color: rgb(240, 239, 239);
    }

    .settings-icon {
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        cursor: pointer;

        position: relative;
        right: 5px;
        bottom: -1px;

        color: #6FB6E7;
    }

    .settings-icon.spin {
        transform: rotate(20deg);
    }
}