/* phones */
.hourly-forecast-container {
    background-color: rgb(238, 238, 248);

    max-width: 90%;
    padding: 1rem .35rem;
    border-bottom-right-radius: 14px;  
}

.hourly-forecast-heading {
    color: #6FB6E7;
}

.hourly-forecast {
    display: flex;
    overflow-x: auto;

    scrollbar-color: transparent transparent;   
}

.hour-forecast {
    display: flex;
    flex-direction: column;
    background-color: #6FB6E7;

    padding: 0.5rem;
    margin: 0.2rem 0.4rem;

    font-size: .9rem;
    color: rgb(238, 238, 248);

    border: solid;
    border-color: #6FB6E7;
    border-radius: 14px;
}

.condition-in-hour-of-the-day {
        width: 4rem;
    }

/* tablet */
@media(min-width: 768px) {
    .hourly-forecast-container {
        padding: 1rem .35rem;
        max-width: 72%;
    }

    .hourly-forecast-heading {
        color: #6FB6E7;
    }

    .hourly-forecast {
        display: flex;

        scrollbar-color: transparent transparent; 

        position: relative;
        right: 6px;

        overflow-x: auto;
    }

    .hourly-forecast::-webkit-scrollbar-track {
        background: transparent;
    }

    .hour-forecast {
        display: flex;
        flex-direction: column;
        background-color: #6FB6E7;

        padding: 0.5rem;
        margin: 0.2rem 0.4rem;

        font-size: .9rem;
        color: rgb(238, 238, 248);

        border: solid;
        border-color: #6FB6E7;
        border-radius: 14px;
    }
}
