/* large desktop */
@media (min-width: 1440px) {
    
}


/* laptop */
@media(min-width: 1024px) {
    
}

/* tablet */
@media(min-width: 768px) {
    .day-forecast {
        font-size: .9rem;
    }
}

/* phones */
@media(min-width: 480px) {
    
}

.ten-day-forecast {
    display: flex;
}

.days-forecast-heading {
    margin: 1rem 0 0.5rem 0;
}

.day-forecast {
    display: flex;
    flex-direction: column;

    margin: 0 1rem;
}

