/* phones */
.other-weather-details {
    margin-top: 1rem;
    padding: 1rem;

    width: 14rem;
    background-color: rgb(238, 238, 248);
    border-radius: 14px;

    font-size: .9rem;

}

.other-predictions-heading {
    color: #6FB6E7;
    margin: 0 0 0.5rem 0;
}

.weather-predictions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.weather-detail {
    background-color: #6FB6E7;
    margin: .4rem;
    padding: .6rem;
    border-radius: 14px;

    color: rgb(238, 238, 248);
}

/* tablet */
@media(min-width: 768px) {
    .other-weather-details {
        margin-top: 1rem;
        padding: 1rem;

        width: 14rem;
        background-color: rgb(238, 238, 248);
        border-radius: 14px;

        font-size: .9rem;

    }

    .other-predictions-heading {
        color: #6FB6E7;
        margin: 0 0 0.5rem 0;
    }

    .weather-predictions {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .weather-detail {
        background-color: #6FB6E7;
        margin: .4rem;
        padding: .6rem;
        border-radius: 14px;

        color: rgb(238, 238, 248);
    }
}
